@model SocialNetwork.ViewModels.DialogViewModel
@section Styles {
	<link rel="stylesheet" href="~/css/messages/messages.css" />
	<script type="text/javascript" src="~/js/messages.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chat.js"></script>
}

@{
	ViewData["Title"] = "Dialog";
	Layout = "~/Views/Shared/_Layout.cshtml";
	//var dialog = (SocialNetwork.ViewModels.DialogViewModel)ViewData["Dialog"];
}

<h2>Dialog with  @Model.Addressee</h2>

<h4>Messages:</h4>
<section id="messagesBox" class="messagesBox">
	@for (int i = 0; i < Model.Messages.Count; i++)
	{
		@if (Model.Messages[i].AuthorID == Model.AddresseeID)
		{
			<blockquote class="bg-success">
				<p>
					<b>@Model.Messages[i].Author:</b>
					@Model.Messages[i].Content
				</p>
			</blockquote>

		}
		else
		{
			<blockquote class="blockquote-reverse">
				<p>
					@Model.Messages[i].Content
				</p>
			</blockquote>
		}
	}
</section>


<form id="messageForm">
	<div class="form-group">
		<textarea class="form-control" id="messageTextarea" rows="3" placeholder="Your message here: "></textarea>
	</div>
	<button id="sendButton" class="btn btn-default" type="submit">Send</button>
</form>

<script type="text/javascript">
	var dialog = @Html.Raw(Json.Serialize(Model));
	
	run_js_with_model(dialog);
</script>

