@model SocialNetwork.ViewModels.UserProfileViewModel

@{
	ViewData["Title"] = $"{Model.Name}'s profile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name's profile</h2>

<section class="user-description">
	@await Html.PartialAsync("UserDetails", Model)

	<hr />
	<div class="flex-panel">
		@if (Model.IsFriend)
		{
			<p>You are friends</p>
			<div>
				<a class="btn btn-default" asp-controller="UserDialogs" asp-action="NewDialog" asp-route-userId="@Model.ID">
					Dialog
				</a>
				<a class="btn btn-danger" asp-controller="Friendships" asp-action="RemoveFriendshipWithUser" asp-route-userId="@Model.ID">
					Not a friend
				</a>
			</div>
		}
		else
		{
			<p>Are you friends with @Model.Name ?</p>
			<a class="btn btn-default" asp-controller="Friendships" asp-action="NewFriendship" asp-route-id="@Model.ID">
				Add to Friends
			</a>
		}
	</div>

	<hr />
	@foreach (var p in Model.Posts)
	{
		<article>
			<p>p.Content</p>
			<a class="btn btn-danger" asp-action="RemovePost" asp-route-id="@p.ID">
				<span class="glyphicon glyphicon-remove"> </span>
			</a>
		</article>
	}

</section>



